# Copy this to "env" and fill in your secrets and customization:
#
# cp env.example env
# ${EDITOR} env

# Rackspace credentials.
# These are only used for Cloud Files.

export RACKSPACE_USERNAME=
export RACKSPACE_APIKEY=
export RACKSPACE_REGION=

# Set this to something different to keep content separated in different Cloud Files containers.
# Deconst uses two: one for CDN assets and one for metadata envelopes.
export CONTAINER_NAME=integrated

export CONTENT_CONTAINER=deconst-${CONTAINER_NAME}-content
export ASSET_CONTAINER=deconst-${CONTAINER_NAME}-asset

# Set this to the domain name of the final site.
export PRESENTED_URL_DOMAIN=

# Control repository settings.
# Set this to the full https: clone URL of control repository you're testing against.
# Example: https://github.com/deconst/control-example.git

export CONTROL_REPO_URL=
export CONTROL_REPO_BRANCH=master
